body {
    text-align: center;
    background-color: aliceblue;
}

#header {
    margin: 2vh 0 3vh 0;
}

#textData {
    height: 240px;
    width: 420px;
    resize: none;
    padding: 15px 10px 10px 20px;
    font-size: 16px;
    border: 2px solid black;
    margin-bottom: 2vh;
}

#textData::placeholder {
    font-size: 20px;
}

#data-table {
    display: none;
    width: auto;
    height: auto;
    padding: 5px;
    margin: auto;
    margin-top: 20px;
}   

#data-table td {
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
}

#data-table th {
    border: 2px solid black;
    padding: 10px;
}

#chartVisual {
    display: none;
    height: auto;
    width: auto;
}

#btnStepChart:hover:after {
    content: " >>";
}

#btnDataStep:hover:before {
    content: "<< "
}

#chartCanva {
    height: 900px;
    width: 800px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    /* max-width: 700px;
    max-height: 700px; */
    border: 2px solid black;
    border-radius: 5px;
    display: none;
}

#chart-type {
    width: 200px;
    text-align: center;
    margin: auto;
    border: 2px solid black;
}

#chartTitle, #chartSubtitle {
    width: 50%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

#btn-download {
    margin-bottom: 20px;
}

input[type=color] {
    margin: 0 10px 0 10px;
}